@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --white: #ffff;
    --lg-red: #FF8B70;
    --vlg-red: #FF4457;
    --vdk-blue: hsl(208, 49%, 24%);
    --grayish-blue: hsl(240, 2%, 79%);
    --vdk-grayish-blue: hsl(207, 13%, 34%);
    --vdk-black-blue: hsl(240, 10%, 16%);
    --hover: #FF7B88;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-content, .laptop-content, .phones-content{
    max-width: 1440px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

section{
    padding: 3rem 8%;
}

/* ====== HEADER ====== */
header{
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Ubuntu";
    position: relative;
    z-index: 10;
}

.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li{
    cursor: pointer;
    position: relative;
}

nav ul li .nav-element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-element p{
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.nav-element p:hover{
    text-decoration: underline 2px white;
}

@media screen and (min-width: 865px) {
    nav ul li .nav-element:hover ~ .nav-element-box,
    .nav-element-box:hover, .nav-element-box:focus-within{
        display: flex;
    }
}

nav ul li .nav-element-box{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: white;
    padding: 1.5rem;
    border-radius: 4px;
}

.nav-element-box li{
    font-weight: 400;
    color: var(--vdk-black-blue);
}

.nav-element-box li:hover{
    color: var(--lg-red);
}

.btn-header{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 419px){
    .center-side .btn-header{
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

.btn{
    background: white;
    padding: 10px 35px;
    border-radius: 155px;
    text-decoration: none;
    color: var(--lg-red);
    font-weight: 600;
}

.btn-header .btn:nth-child(1){
    background: none;
    color: white;
}

.btn:hover{
    background: var(--hover) !important;
    color: white;
}

.hamburger{
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

/* ====== RESPONSIVE HEADER ====== */
@media screen and (max-width: 864px) {
    header{
        justify-content: space-between;
    }

    .right-side{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        background: white;
        padding: 32px;
        border-radius: 8px;
        max-width: 400px;
        height: max-content;
    }

    nav{
        width: 100%;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .nav-element p{
        font-size: 16px;
        color: var(--vdk-blue);
        font-weight: 600;
    }

    nav ul li .nav-element-box{
        top: 0;
        left: 0;
        transform: none;
        position: relative;
        background: #EFEFF1;
        width: 100%;
    }
    
    .nav-element-box li{
        font-weight: 500;
        color: var(--vdk-grayish-blue);
    }
    
    .nav-element-box li:hover{
        color: var(--lg-red);
    }

    .show-nav-element-box{
        display: flex !important;
    }

    .right-side .btn-header{
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .right-side .btn-header::before{
        content: "";
        position: relative;
        background: var(--grayish-blue);
        width: 100%;
        height: 2px;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.4;
    }
    
    .btn-header .btn:nth-child(1){
        background: none;
        color: var(--vdk-blue);
    }

    .btn-header .btn:nth-child(1):active, .btn-header .btn:nth-child(1):hover{
        color: white;
    }

    .btn-header .btn:nth-child(2){
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        color: white;
    }

    .hamburger{
        display: block;
    }

    .hidden{
        display: none;
    }
}

/* ====== HERO SECTION ====== */
.hero{
    height: 80vh;
    min-height: 600px;
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 0 150px;
}

.center-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    position: relative;
    z-index: 2;
}

.center-side .text{
    text-align: center;
    color: white;
    font-family: "Overpass";
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center-side .text h1{
    font-size: clamp(1.563rem, -0.5349rem + 10.4893vw, 4.5rem);
    line-height: 1;
}

.center-side .text p{
    font-size: clamp(1rem, 0.8801rem + 0.6849vw, 1.25rem);
}

.center-side .btn-header{
    font-family: "Ubuntu";
}

.center-side .btn-header .btn:nth-child(1){
    background: white;
    color: var(--lg-red);
}

.center-side .btn-header .btn:nth-child(2){
    background: transparent;
    color: white;
    border: 2px solid white;
}

.center-side .btn-header .btn:nth-child(1):hover{
    color: white;
}

.center-side .btn-header .btn:nth-child(2):hover{
    border-color: var(--hover);
}

.pattern-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 0 150px;
    z-index: 1;
}

.pattern-container div{
    position: relative;
}

.pattern-container div img{
    object-fit: cover;
    position: relative;
    top: -700px;
    width: 100%;
    height: 2000px;
}

/* ====== EDITOR / LAPTOP SECTION ====== */
.editor, .laptop{
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    font-family: "Overpass";
    padding-top: 5rem;
    margin: 100px 0;
}

.laptop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editor h1{
    color: var(--vdk-blue);
    font-size: clamp(1.563rem, 1.0723rem + 2.4536vw, 2.25rem);
    text-align: center;
}

.editor .editor-content, .laptop .laptop-content{
    position: relative;
    display: flex;
    width: 100%;
}

.laptop .laptop-content{
    flex-direction: row-reverse;
}

.editor-content .editor-text, .laptop-content .laptop-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 40px;
    max-width: 600px;
}

.paragraph{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragraph h2{
    color: var(--vdk-blue);
}

.paragraph p{
    color: var(--vdk-grayish-blue);
    font-size: 18px;
    line-height: 1.75rem;
}

.editor-content img, .laptop-content img{
    width: 90%;
    max-width: 929px;
    max-height: 923px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(-20% - 10rem);
}

.laptop-content img{
    max-width: 1185px;
    max-height: 1147px;
    right: 0;
    left: calc(-20% - 10rem)
}

@media screen and (min-width: 1418px) {
    .editor-content img{
        right: -25%;
    }

    .laptop-content img{
        left: -30%;
    }
}

/* ====== RESPONSIVE EDITOR / LAPTOP SECTION ====== */
@media screen and (max-width: 864px){
    .editor, .laptop{
        height: max-content;
    }

    .editor .editor-content, .laptop .laptop-content{
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }

    .editor-content .editor-text, .laptop-content .laptop-text{
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    
    .editor-content img, .laptop-content img{
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        max-height: 430px;
        position: relative;
        top: 0;
        transform: none;
        right: 0;
        left: 0;
    }
}

/* ====== PHONES SECTION ====== */
.phones{
    height: 50vh;
    min-height: 300px;
    background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Overpass";
    padding: 2rem 8%;
    margin: 100px 0;
    border-radius: 0 155px 0 155px;
}

.phones-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    z-index: 3;
}

@media screen and (min-width: 864px) and (max-width: 1060px){
    .phones-content{
        gap: 1rem;
    }

    .phones-content .paragraph h1{
        font-size: 28px !important;
        color: white;
    }
}

@media screen and (min-width: 280px) and (max-width: 520px){
    .phones-content{
        gap: 1rem !important;
    }

    .phones-content .paragraph h1{
        font-size: 28px !important;
        color: white;
    }

    .phones{
        max-height: 650px !important;
    }
}

.phones-content > img{
    width: 90%;
    min-height: 500px;
    object-fit: contain;
}

.phones-content .paragraph p{
    color: white;
}

.phones-content .paragraph h1{
    font-size: clamp(1.563rem, 1.0723rem + 2.4536vw, 2.25rem);
    color: white;
}

.phones .pattern-container img{
    object-fit: contain;
    top: -500px;
    left: -400px;
    height: 1000px;
}

@media screen and (max-width: 864px){
    .phones{
        height: 100vh;
        min-height: 650px;
        max-height: 750px;
        margin-top: 200px;
    }
    
    .phones-content{
        flex-direction: column;
        position: relative;
        top: -150px;
    }

    .phones-content > img{
        width: 100%;
        min-width: 300px;
    }

    .phones-content .paragraph{
        text-align: center;
    }
    
    .phones .pattern-container img{
        top: -700px;
        left: 50%;
        transform: translateX(-50%);
        height: 1500px;
    }
}

/* ====== FOOTER SECTION ======*/
.footer{
    height: max-content;
    min-height: 300px;
    background: var(--vdk-black-blue);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 155px 0 0;
}

footer{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    row-gap: 100px;
    column-gap: 300px;
    font-family: "Ubuntu";
}

.footer-element{
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-element p{
    color: white;
    font-weight: 600;
}

.footer-element .footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--vdk-grayish-blue);
}

.footer-element .footer-list li:hover{
    color: white;
    text-decoration: underline;
}

.attribution{
    background: var(--vdk-black-blue);
    text-align: center;
    color: var(--vdk-grayish-blue);
    font-family: "Ubuntu";
    text-decoration: none;
}