@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --white: #ffff;
    --lg-red: #FF8B70;
    --vlg-red: #FF4457;
    --vdk-blue: hsl(208, 49%, 24%);
    --grayish-blue: hsl(240, 2%, 79%);
    --vdk-grayish-blue: hsl(207, 13%, 34%);
    --vdk-black-blue: hsl(240, 10%, 16%);
    --hover: #FF7B88;
}